/samv7/examples/getting-started/build/ewarm/sram/obj
/samv7/examples/getting-started/build/ewarm/sram/bin
/samv7/libraries/libboard_samv7-ek/*.TMP
/samv7/examples/uart/build/ewarm/sram/bin
/samv7/examples/uart/build/ewarm/sram/obj
/samv7/examples/uart_example/build/ewarm/sram
/samv7/examples/uart_example/build/ewarm/settings
settings
sram
*.TMP
flash
/samv7/examples/getting-started/build/ewarm/settings
/samv7/examples/getting-started/build/ewarm/*.ewt
/samv7/examples/getting-started/build/ewarm/*.dep
/samv7/examples/spi_example/build/ewarm/*.dep
/samv7/examples/spi_example/build/ewarm/*.ewt
/samv7/examples_usb/device_examples/usb_cdc_serial/build/ewarm/*.ewt
/samv7/examples_storage/qspi_flash/build/ewarm/*.dep
/samv7/examples_storage/qspi_flash/build/ewarm/*.ewt
*.ewt
*.dep
JLinkSettings.ini
JLinkLog.txt
Objects
Listings
bin
*.o
*.bin
*.out
*.lst
*.map
*.pbi
*.cout
*.pbd
*.browse
*.html
